Parte - 5/flows.json
[{"id":"ee8e9743.5f8a28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"571e3a27.ba3a64","type":"ui_form","z":"ee8e9743.5f8a28","name":"Form - Adicionar Novo Horário","label":"","group":"2e8fc558.779fda","order":1,"width":"0","height":"0","options":[{"label":"Horário a ligar","value":"horario","type":"text","required":true},{"label":"Tempo Ligado (m)","value":"tempoLigado","type":"text","required":true},{"label":"Led a Ligar","value":"led","type":"number","required":true}],"formValue":{"horario":"","tempoLigado":"","led":""},"payload":"","submit":"Cadastrar","cancel":"Cancelar","topic":"","x":460,"y":220,"wires":[["a96f0f2e.dfa9c"]],"icon":"font-awesome/fa-clock-o"},{"id":"a96f0f2e.dfa9c","type":"function","z":"ee8e9743.5f8a28","name":"Formata horário","func":"const {horario, tempoLigado, led} = msg.payload\nconst dados = [horario, tempoLigado, led]\n\nmsg.payload = dados\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["219ae344.60a3cc"]]},{"id":"af187b4b.609618","type":"file in","z":"ee8e9743.5f8a28","name":"Horários do sistema","filename":"horarios.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1260,"y":380,"wires":[["11d5c9de.27dff6"]]},{"id":"219ae344.60a3cc","type":"exec","z":"ee8e9743.5f8a28","command":"sudo python3.7 cadastrar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Cadastrar","x":970,"y":220,"wires":[["af187b4b.609618"],[],[]]},{"id":"11d5c9de.27dff6","type":"function","z":"ee8e9743.5f8a28","name":"Formata horários cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":1530,"y":380,"wires":[["e5802fd5.579e7"]]},{"id":"1bcaa62c.7c996a","type":"comment","z":"ee8e9743.5f8a28","name":"Cadastra um novo horário","info":"","x":470,"y":180,"wires":[]},{"id":"ec145c54.539fc","type":"exec","z":"ee8e9743.5f8a28","command":"sudo python3.7 deletar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Método Deletar","x":1120,"y":640,"wires":[["af187b4b.609618"],[],[]]},{"id":"34a051dd.8cb4ee","type":"function","z":"ee8e9743.5f8a28","name":"Formata horário","func":"\nconst {id, horario, tempoLigado, led, status} = msg.payload\nconst dados = [id, horario, tempoLigado, led, status]\n\n\nmsg.payload = dados\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":520,"wires":[["aa0210e0.7be8d"]]},{"id":"aa0210e0.7be8d","type":"exec","z":"ee8e9743.5f8a28","command":"sudo python3.7 atualizar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Atualizar","x":970,"y":520,"wires":[["af187b4b.609618"],[],[]]},{"id":"70215e75.91fdb","type":"inject","z":"ee8e9743.5f8a28","name":"Injetor","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":890,"y":380,"wires":[["af187b4b.609618"]]},{"id":"e5802fd5.579e7","type":"ui_template","z":"ee8e9743.5f8a28","group":"2e8fc558.779fda","name":"/Home","order":1,"width":"12","height":"6","format":"\n<style>\n\n.content {\n    width: 100%;\n    max-width: 100%;\n    display: flex;\n    flex-wrap: wrap;\n    justify-content: center;\n}\n\n\nform.editar {\n    padding: 25px 30px;\n    width: 400px;\n    max-width: 100%;\n    background-color: #fff;\n    z-index: 100;\n    box-shadow: 0px 0px 8px 0px rgba(20,20,20,0.6);\n    border-radius: 2px;\n    display: flex;\n    flex-wrap: wrap;\n    flex-direction: column;\n    align-items: center;\n    margin-top: 60px;\n}\n\nform.editar .title {\n    color: #0d4380;\n    font-size: 1.275em;\n    font-weight: 500;\n    margin-bottom: 20px;\n}\n\nform.editar label {\n    display: block;\n    margin-bottom: 3px;\n    font-family: arial;\n    color: #333;\n    font-size: 1em;\n}\n\n.control-input {\n    width: 100%;\n    max-width: 100%;\n}\n\nform.editar input {\n    width: 100%;\n    max-width: 100%;\n    height: 35px;\n    padding-left: 10px;\n    margin: 0 auto 15px auto;\n}\n\n.box-buttons {\n    display: flex;\n    flex-wrap: wrap;\n\n}\n\nform.editar button {\n    background-color: #061f3b;\n    color: #fff;\n    width: 140px;\n    height: 35px;\n    border: none;\n    border-radius: 3px;\n    cursor: pointer;\n    margin: 0 10px;\n    text-transform: uppercase;\n}\n\nform.editar button:hover {\n    background-color: #072b54;\n}\n\n.msg-sucesso {\n    color: #fff;\n    background: #40ff73;\n    font-size: 1.1em;\n    padding: 10px 40px;\n    border-radius: 3px;\n    margin-bottom: 10px;\n \n    \n}\n\n\n\n\n.btn {\n    color: #fff;\n    border: none;\n    border-radius: 1px;\n    padding: 5px 8px;\n    display: inline-block;\n    \n}\n\n.btn-editar {\n    background-color: #1912cc;\n    opacity: 0.5;\n}\n\n.btn-deletar {\n    background-color: #f72a0a;\n    opacity: 0.5;\n}\n\n.btn:hover {\n    opacity: 1;\n}\n\n\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: calc(100% - 20px);\n  max-width: 100%;\n  margin: 0 auto;\n  margin-top: 30px;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n\n.box-info {\n    text-align: center;\n    padding-top: 60px;\n}\n\n.box-info h2 {\n    text-align: center;\n    font-size: 1.8em;\n    color: #333;\n    line-height: 22px;\n    font-weight: 600;\n}\n</style>\n\n<div class=\"content\">\n\n \n    <form ng-show=\"emEdicao.editando\" class=\"editar\" id=\"form-editar\">\n        <h2 class=\"title\">Editar Horário</h2>\n        \n        \n        <div class=\"control-input\">\n            <label>Horário Formato: HH:MM</label>\n            <input type=\"text\" name=\"horario\" ng-model=\"objHorario.horario\"  />\n        </div>\n        \n        <div class=\"control-input\">\n            <label>Tempo Ligado (m)</label>\n            <input type=\"text\" min=\"0\" name=\"tempoLigado\" value=\"objHorario.tempoLigado\" ng-model=\"objHorario.tempoLigado\" />\n        </div>\n        \n        <div class=\"control-input\">\n            <label>Led a Ligar</label>\n            <input type=\"text\" min=\"1\" name=\"led\" value=\"objHorario.led\" ng-model=\"objHorario.led\"  />\n        </div>\n        \n        <div class=\"box-buttons\">\n             <button ng-click=\"send({payload:editar(objHorario)})\">Editar</button>\n             <button ng-click=\"emEdicao.editando = false\">Cancelar</button>\n        </div>\n       \n        \n    </form>\n\n\n<table id=\"table\" border=\"0\" ng-if=\"msg.payload.length > 0\">\n    <tr>\n        <th>Horário</th>\n        <th>Tempo Ligado (m)</th>\n        <th>Led</th>\n        <th>Ações</th>\n    </tr>\n\n        <tr ng-repeat=\"horario in msg.payload\">\n            <td>{{ horario.horario }}</td>\n            <td>{{ horario.tempoLigado }}</td>\n            <td>{{ horario.led }}</td>\n            <td>\n                <button class=\"btn btn-deletar\" ng-click=\"send({payload:sendId(horario.id)})\">Deletar</button>\n                <button class=\"btn btn-editar\" ng-click=\"send({payload:sendData(horario)})\">Editar</button>\n                \n            </td>\n        </tr>\n</table>\n\n<div class=\"box-info\" ng-if=\"msg.payload.length === 0\">\n    <h2>Não há horários cadastrados</h2>\n</div>\n\n</div>\n\n\n<script>\n\n    \n  this.scope.sendId = id => id;\n  \n \n  \n  this.scope.objHorario = {\n      id: \"\",\n      horario: \"\",\n      tempoLigado: \"\",\n      led: \"\",\n      status: ''\n  }\n  \n  this.scope.emEdicao = {\n      editando: false,\n      editado: false\n  };\n  \n \n  \n    this.scope.sendData = function(horario) {\n       \n       this.objHorario.id = horario.id;\n       this.objHorario.horario = horario.horario;\n       this.objHorario.tempoLigado = horario.tempoLigado;\n       this.objHorario.led = horario.led;\n       this.objHorario.status = horario.status;\n       \n       this.emEdicao.editando = true;\n  \n    \n    };\n    \n     this.scope.editar = function(horario) {\n        this.emEdicao.editando = false;\n        \n        return horario;\n    }\n    \n \n</script>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1850,"y":400,"wires":[["e73fc3d7.4c5d3","ec145c54.539fc","34a051dd.8cb4ee"]]},{"id":"e73fc3d7.4c5d3","type":"debug","z":"ee8e9743.5f8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2050,"y":480,"wires":[]},{"id":"2e8fc558.779fda","type":"ui_group","z":"","name":"Cadastrar um novo horário","tab":"58ef215f.2cfb1","order":1,"disp":true,"width":"12","collapse":false},{"id":"58ef215f.2cfb1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]