Parte - 6/arquivos nodered/flows.json
[{"id":"fe6c7b76.216838","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bd3d448.b03eeb8","type":"ui_form","z":"fe6c7b76.216838","name":"Form - Adicionar Novo Horário","label":"","group":"ecb35132.5382","order":1,"width":"0","height":"0","options":[{"label":"Horário a ligar","value":"horario","type":"text","required":true},{"label":"Tempo Ligado (m)","value":"tempoLigado","type":"text","required":true},{"label":"Escolha a seção","value":"valvula","type":"number","required":true}],"formValue":{"horario":"","tempoLigado":"","valvula":""},"payload":"","submit":"Cadastrar","cancel":"Cancelar","topic":"","x":460,"y":220,"wires":[[]],"icon":"font-awesome/fa-clock-o"},{"id":"841070f5.cde8b","type":"function","z":"fe6c7b76.216838","name":"Formata horário","func":"const {horario, tempoLigado, secao} = msg.payload\nconst dados = [horario, tempoLigado, secao]\n\nmsg.payload = dados\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":200,"wires":[["875a5f07.2cf93"]]},{"id":"80100420.27bec8","type":"file in","z":"fe6c7b76.216838","name":"Horários do sistema","filename":"agendamentos.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1260,"y":380,"wires":[["541c7aa7.5827f4"]]},{"id":"875a5f07.2cf93","type":"exec","z":"fe6c7b76.216838","command":"sudo python3.7 cadastrar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Cadastrar","x":1730,"y":200,"wires":[[],[],[]]},{"id":"541c7aa7.5827f4","type":"function","z":"fe6c7b76.216838","name":"Formata horários cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":1530,"y":380,"wires":[["4d3f2323.8bc15c"]]},{"id":"4e8c4d3c.457604","type":"comment","z":"fe6c7b76.216838","name":"Cadastra um novo horário","info":"","x":470,"y":180,"wires":[]},{"id":"f1d8a1d6.9f5d8","type":"exec","z":"fe6c7b76.216838","command":"sudo python3.7 deletar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Método Deletar","x":1120,"y":640,"wires":[["80100420.27bec8"],[],[]]},{"id":"6421e3b7.867fac","type":"function","z":"fe6c7b76.216838","name":"Formata horário","func":"\nconst {id, horario, tempoLigado, valvula, status} = msg.payload\nconst dados = [id, horario, tempoLigado, valvula, status]\n\n\nmsg.payload = dados\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":520,"wires":[["bc725e53.5a3b4"]]},{"id":"bc725e53.5a3b4","type":"exec","z":"fe6c7b76.216838","command":"sudo python3.7 atualizar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Atualizar","x":970,"y":520,"wires":[["80100420.27bec8"],[],[]]},{"id":"a07b64f0.b0eeb8","type":"inject","z":"fe6c7b76.216838","name":"Injetor","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":900,"y":380,"wires":[["80100420.27bec8"]]},{"id":"4d3f2323.8bc15c","type":"ui_template","z":"fe6c7b76.216838","group":"f5dfe93e.8b9348","name":"/Home","order":1,"width":"12","height":"14","format":"\n<style>\n\n* {\n    max-width: 100% !important;\n}\n\n\n\n\n\n\n\n\nbody {\n  background-color: #e1e2e3;\n  height: 1000px;\n}\n\n.form-cadastro {\n  width: 400px;\n  max-width: calc(100% - 20px);\n  margin: 0 auto;\n  padding: 15px 5px;\n  display: flex;\n  flex-wrap: wrap;\n  flex-direction: column;\n  align-items: center;\n  background-color: #fff;\n  border-radius: 5px;\n  border-bottom: 1px solid rgba(17,17,17,0.4);\n  margin-bottom: 15px;\n}\n\n.titulo {\n  font-size: 1.5em;\n  font-family: arial;\n  font-weight: 600;\n  line-height: 24px;\n  color: #111111;\n  margin-bottom: 40px;\n}\n\n.box-input {\n  width: calc(100% - 40px);\n  padding: 10px 15px;\n  display: flex;\n  flex-wrap: wrap;\n  align-items: center;\n}\n\n.box-input label {\n  display: block;\n  color: #333;\n}\n\n.box-input input, .box-input select {\n  width: 100%;\n  height: 37px;\n  border: 1px solid rgba(17,17,17,0.3);\n  border-radius: 5px;\n  padding-left: 10px;\n\n}\n\n.botao-cadastrar {\n  width: 140px;\n  height: 37px;\n  color: #fff;\n  border-radius: 5px;\n  cursor: pointer;\n  border: none;\n  background-color: #061f3b;\n  padding: 8px 5px;\n  font-size: 1.2em;\n  display: block;\n  margin-top: 20px;\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n.content {\n    width: 100%;\n    max-width: 100%;\n    display: flex;\n    flex-wrap: wrap;\n    justify-content: center;\n}\n\n\nform.editar {\n    padding: 25px 30px;\n    width: 400px;\n    max-width: calc(100% - 40px);\n    background-color: #fff;\n    z-index: 100;\n    box-shadow: 0px 0px 8px 0px rgba(20,20,20,0.6);\n    border-radius: 2px;\n    display: flex;\n    flex-wrap: wrap;\n    flex-direction: column;\n    align-items: center;\n    margin-top: 60px;\n}\n\nform.editar .title {\n    color: #0d4380;\n    font-size: 1.275em;\n    font-weight: 500;\n    margin-bottom: 20px;\n}\n\nform.editar label {\n    display: block;\n    margin-bottom: 3px;\n    font-family: arial;\n    color: #333;\n    font-size: 1em;\n}\n\n.control-input {\n    width: 100%;\n    max-width: 100%;\n}\n\nform.editar input {\n    width: 100%;\n    max-width: 100%;\n    height: 35px;\n    padding-left: 10px;\n    margin: 0 auto 15px auto;\n}\n\n.box-buttons {\n    display: flex;\n    flex-wrap: wrap;\n\n}\n\nform.editar button {\n    background-color: #061f3b;\n    color: #fff;\n    width: 140px;\n    height: 35px;\n    border: none;\n    border-radius: 3px;\n    cursor: pointer;\n    margin: 0 10px;\n    text-transform: uppercase;\n     margin-bottom: 5px;\n}\n\nform.editar button:hover {\n    background-color: #072b54;\n}\n\n.msg-sucesso {\n    color: #fff;\n    background: #40ff73;\n    font-size: 1.1em;\n    padding: 10px 40px;\n    border-radius: 3px;\n    margin-bottom: 10px;\n \n    \n}\n\n\n\n\n.btn {\n    color: #fff;\n    border: none;\n    border-radius: 1px;\n    padding: 5px 8px;\n    display: inline-block;\n    \n    \n}\n\n.btn-editar {\n    background-color: #1912cc;\n    opacity: 0.5;\n   \n}\n\n.btn-deletar {\n    background-color: #f72a0a;\n    opacity: 0.5;\n}\n\n.btn:hover {\n    opacity: 1;\n}\n\n.wrap-table {\n    width: 2000px !important;\n    overflow-x: auto;\n}\n\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100% !important;\n  min-width: 530px;\n  margin: 0 auto;\n  margin-top: 30px;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n\n.box-info {\n    text-align: center;\n    padding-top: 60px;\n}\n\n.box-info h2 {\n    text-align: center;\n    font-size: 1.8em;\n    color: #333;\n    line-height: 28px;\n    font-weight: 600;\n}\n</style>\n\n<div class=\"content\">\n\n\n\n    <form class=\"form-cadastro\">\n        <h1 class=\"titulo\">\n          Novo Agendamento\n        </h1>\n\n         <div class=\"box-input\">\n            <label>Data Inicial</label>\n            <input type=\"date\" id=\"dataFinal\" placeholder=\"Data Final\" ng-model=\"dataFinal\">\n        </div>\n        \n        <div class=\"box-input\">\n          <label for=\"horario\">Horário Ligar</label>\n          <input type=\"time\" id=\"horario\" name=\"horario\" ng-model=\"objCadastro.horario\">\n        </div>\n        \n        <div class=\"box-input\">\n          <label for=\"tempoLigado\">Tempo Ligado (min)</label>\n          <input type=\"number\" id=\"tempoLigado\" name=\"tempoLigado\" ng-model=\"objCadastro.tempoLigado\">\n        </div>\n        \n        <div class=\"box-input\">\n          <select name=\"secao\" id=\"secao\" ng-model=\"objCadastro.secao\">\n            <option value=\"\">Selecione a seção</option>\n             <option value=\"11\">Seção 11</option>\n              <option value=\"13\">SSeção 13</option>\n          </select>\n        </div>\n        \n        <button class=\"botao-cadastrar\" ng-click=\"send({payload:cadastrar()})\">Cadastrar</button>\n\n        \n\n\n    </form>\n\n \n    <form ng-show=\"emEdicao.editando\" class=\"editar\" id=\"form-editar\">\n        <h2 class=\"title\">Editar Horário</h2>\n        \n        \n        <div class=\"control-input\">\n            <label>Horário Formato: HH:MM</label>\n            <input type=\"text\" name=\"horario\" ng-model=\"objHorario.horario\"  />\n        </div>\n        \n        <div class=\"control-input\">\n            <label>Tempo Ligado (m)</label>\n            <input type=\"text\" min=\"0\" name=\"tempoLigado\" value=\"objHorario.tempoLigado\" ng-model=\"objHorario.tempoLigado\" />\n        </div>\n        \n        <div class=\"control-input\">\n            <label>Valvula</label>\n            <input type=\"text\" min=\"1\" name=\"valvula\" value=\"objHorario.valvula\" ng-model=\"objHorario.valvula\"  />\n        </div>\n        \n        <div class=\"box-buttons\">\n             <button ng-click=\"send({payload:editar(objHorario)})\">Editar</button>\n             <button ng-click=\"emEdicao.editando = false\">Cancelar</button>\n        </div>\n       \n        \n    </form>\n\n<div class=\"wrap-table\">\n<table id=\"table\" border=\"0\" ng-if=\"msg.payload.length > 0\">\n    <tr>\n        <th>Horário</th>\n        <th>Tempo Ligado (m)</th>\n        <th>Valvula</th>\n        <th>Ações</th>\n    </tr>\n\n        <tr ng-repeat=\"horario in msg.payload\">\n            <td>{{ horario.horario }}</td>\n            <td>{{ horario.tempoLigado }}</td>\n            <td>{{ horario.valvula }}</td>\n            <td>\n                <button class=\"btn btn-deletar\" ng-click=\"send({payload:sendId(horario.id)})\">Deletar</button>\n                <button class=\"btn btn-editar\" ng-click=\"send({payload:sendData(horario)})\">Editar</button>\n                \n            </td>\n        </tr>\n</table>\n</div>\n\n<div class=\"box-info\" ng-if=\"msg.payload.length === 0\">\n    <h2>Não há horários cadastrados</h2>\n</div>\n\n</div>\n\n\n<script>\n\n    \n  this.scope.sendId = id => id;\n\n\n  this.scope.objCadastro = {\n    horario: \"\",\n    tempoLigado: \"\",\n    secao: \"\"\n  }\n  \n \n  \n  this.scope.objHorario = {\n      id: \"\",\n      horario: \"\",\n      tempoLigado: \"\",\n      valvula: \"\",\n      status: \"\"\n  }\n\n  this.scope.cadastrar = function () {\n    return this.objCadastro;\n  }\n  \n  this.scope.emEdicao = {\n      editando: false,\n      editado: false\n  };\n  \n \n  \n    this.scope.sendData = function(horario) {\n       \n       this.objHorario.id = horario.id;\n       this.objHorario.horario = horario.horario;\n       this.objHorario.tempoLigado = horario.tempoLigado;\n       this.objHorario.valvula = horario.valvula;\n       this.objHorario.status = horario.status;\n       \n       this.emEdicao.editando = true;\n  \n    \n    };\n    \n     this.scope.editar = function(horario) {\n        this.emEdicao.editando = false;\n        \n        return horario;\n    }\n    \n \n</script>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1810,"y":380,"wires":[["f1d8a1d6.9f5d8","6421e3b7.867fac","fc037fb8.25398","841070f5.cde8b"]]},{"id":"d2ee17a1.fd20d8","type":"exec","z":"fe6c7b76.216838","command":"sudo python3.7 controleLigarDesligar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Irrigar Manualmente","x":880,"y":940,"wires":[["6c45d477.e50f1c"],["709c4eb4.2d811"],[]]},{"id":"bad84058.97e98","type":"function","z":"fe6c7b76.216838","name":"Formata dados cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":880,"y":780,"wires":[["c59940ea.80de7"]]},{"id":"6c45d477.e50f1c","type":"file in","z":"fe6c7b76.216838","name":"Valvulas do sistema","filename":"valvulas.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":780,"wires":[["bad84058.97e98"]]},{"id":"eda12470.132428","type":"inject","z":"fe6c7b76.216838","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":780,"wires":[["6c45d477.e50f1c"]]},{"id":"c59940ea.80de7","type":"ui_template","z":"fe6c7b76.216838","group":"c7643260.9b854","name":"","order":1,"width":"12","height":"10","format":"<style type=\"text/css\" media=\"all\">\n\n    * {\n        max-width: 100% !important;\n        box-sizing: border-box;\n    }\n    /*.lista-valvulas {*/\n    /*    list-style: none;*/\n    /*    width: 100%;*/\n    /*    max-width: 100%;*/\n    /*    margin: 10px 20px;*/\n    /*    display: flex;*/\n    /*    flex-wrap: wrap;*/\n        \n    /*}*/\n    \n    ul {\n        list-style: none;\n        width: 500px;\n        max-width: 100%;\n        margin: 0 auto;\n        display: flex;\n        flex-wrap: wrap;\n        flex-direction: column;\n    }\n    * {\n  padding: 0;\n  margin: 0;\n  outline: 0;\n  box-sizing: border-box;\n}\n.valvula {\n  width: 400px;\n  max-width: 100%;\n  display: flex;\n  flex-wrap: wrap;\n  flex-direction: column;\n  align-items: center;\n  flex: 1;\n  box-shadow: 1px 1px 5px rgba(17,17,17,0.1);\n  margin-bottom: 30px;\n}\n\n.box-secao {\n  width: 100%;\n  max-width: 100%;\n  border-bottom: 1px solid rgba(17,17,17,0.1);\n  text-align: center;\n  padding: 15px;\n  margin-bottom: 8px;\n  \n}\n\n.box-secao p {\n  font-size: 1.2em;\n  font-weight: 700;\n  color: #252625;\n  line-height: 24px\n}\n\n.box-ligado {\n  display: flex;\n  flex-wrap: wrap;\n  flex-direction: column;\n  align-items: center;\n}\n\n.box-ligado p {\n  font-size: 1em;\n  font-weight: 600;\n  line-height: 20px;\n  color: #363836;\n}\n\n.btn {\n  width: 80px;\n  height: 80px;\n  border-radius: 50%;\n  border: none;\n  display: flex;\n  flex-wrap: wrap;\n  align-items: center;\n  justify-content: center;\n  padding: 1px;\n  margin: 20px 0 15px 0;\n  cursor: pointer;\n  background-color: #fff;\n}\n\n.btn:hover {\n  box-shadow: 1px 1px 8px rgba(0,0,0,0.6);\n  transition: 0.5s;\n  \n}\n\n.btn img {\n  max-width: 100%;\n  border-radius: 50%;\n}\n</style>\n\n<section>\n\n    <ul class=\"lista-valvulas\">\n        <li class=\"valvula\" ng-repeat=\"eletroValvula in msg.payload\">\n            <div class=\"box-secao\">\n               <p>{{ eletroValvula.secao }}</p> \n            </div>\n            <div class=\"box-ligado\"  ng-if=\"eletroValvula.status == 0\">\n                 <button class=\"btn\" ng-click=\"send({payload:valvulaLigar(eletroValvula.valvula)})\"><img src=\"https://images.freeimages.com/images/large-previews/fc2/black-power-button-1414383.jpg\" alt=\"\" /></button>\n            </div>\n           \n            <div class=\"box-ligado\" ng-if=\"eletroValvula.status == 1\">\n                <div>\n                    <button class=\"btn\" ng-click=\"send({payload:valvulaDesligar(eletroValvula.valvula)})\"><img src=\"https://icon-library.net/images/switch-off-icon/switch-off-icon-28.jpg\" alt=\"\" /></button>\n                </div>\n\n            </div>\n            \n            \n        </li>\n    </ul>\n</section>\n\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n    \n    \n    this.scope.valvulaLigar = valvula => {\n        return {acao: \"ligar\", valvula: valvula}\n    };\n    \n    this.scope.valvulaDesligar = valvula => {\n        return {acao: \"desligar\", valvula: valvula}\n    };\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1180,"y":780,"wires":[["6cda1eea.0191c"]]},{"id":"6cda1eea.0191c","type":"function","z":"fe6c7b76.216838","name":"","func":"const {acao, valvula} = msg.payload;\nconst dados = [valvula, acao,]\nmsg.payload = dados;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":840,"wires":[["d2ee17a1.fd20d8"]]},{"id":"be25a668.333b38","type":"ui_form","z":"fe6c7b76.216838","name":"","label":"","group":"9be85860.2a7868","order":0,"width":0,"height":0,"options":[{"label":"Tempo Padrão","value":"tempo","type":"number","required":true}],"formValue":{"tempo":""},"payload":"","submit":"Salvar","cancel":"Cancelar","topic":"","x":410,"y":1140,"wires":[["f827a259.d71fe"]]},{"id":"f827a259.d71fe","type":"function","z":"fe6c7b76.216838","name":"","func":"msg.payload = msg.payload.tempo\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1140,"wires":[["d9cdd9e6.3663d8"]]},{"id":"d9cdd9e6.3663d8","type":"exec","z":"fe6c7b76.216838","command":"sudo python3.7 atualizarConfiguracoes.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Cadastrar","x":750,"y":1140,"wires":[[],[],[]]},{"id":"8267bd0f.d2394","type":"ui_template","z":"fe6c7b76.216838","group":"ecb35132.5382","name":"","order":0,"width":"6","height":"4","format":"<style type=\"text/css\" media=\"all\">\n\n.box-tempo {\n    width: 100%;\n    max-width: 100%;\n    display: flex;\n    flex-wrap: wrap;\n    flex-direction: column;\n    justify-content: center;\n    align-items: center;\n}\n\n.box-tempo .info {\n    font-size: 1em;\n    font-weight: 700;\n    line-height: 24px;\n    color: #113c84;\n}\n\n.box-tempo .tempo {\n    margin-top: 45px;\n    font-size: 3em;\n    \n}\n    \n</style>\n\n\n    \n<section class=\"box-tempo\">\n     <p class=\"info\">Desliga automaticamente após:</p>\n     <p class=\"tempo\" ng-repeat=\"configuracao in msg.payload\">{{ configuracao.tempoPadrao }} min</p>\n    \n</section>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1100,"y":1260,"wires":[[]]},{"id":"dbe5266e.e45c38","type":"file in","z":"fe6c7b76.216838","name":"Configurações cadastradas","filename":"configuracoes.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":1260,"wires":[["1a0197.1218de6a"]]},{"id":"8411e628.d6b0b8","type":"inject","z":"fe6c7b76.216838","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":1260,"wires":[["dbe5266e.e45c38"]]},{"id":"1a0197.1218de6a","type":"function","z":"fe6c7b76.216838","name":"Formata dados cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":860,"y":1260,"wires":[["8267bd0f.d2394"]]},{"id":"ed391798.f52a18","type":"ui_template","z":"fe6c7b76.216838","group":"a50643c4.b6d5d","name":"","order":0,"width":"18","height":"6","format":"<style>\n\n* {\n    max-width: 100% !important;\n}\n\n.wrap-table {\n    width: 1200px !important;\n    overflow-x: auto;\n}\n\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100% !important;\n  min-width: 650px;\n  margin: 0 auto;\n  margin-top: 30px;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n\n.box-info {\n    text-align: center;\n    padding-top: 60px;\n}\n\n.box-info h2 {\n    text-align: center;\n    font-size: 1.8em;\n    color: #333;\n    line-height: 28px;\n    font-weight: 600;\n}\n</style>\n\n\n<div class=\"wrap-table\">\n    \n<table id=\"table\" border=\"0\" ng-if=\"msg.payload.length > 0\">\n    <tr>\n        <th>Válvula</th>\n        <th>Data</th>\n        <th>Início</th>\n        <th>Fim</th>\n        <th>Dia</th>\n        <th>Modo</th>\n    </tr>\n\n        <tr ng-repeat=\"log in msg.payload\">\n            <td>{{ log.valvula }}</td>\n            <td>{{ log.data }}</td>\n           <td>{{ log.inicio }}</td>\n           <th>{{ log.fim }}</th>\n           <td>{{ log.dia }}</td>\n           <td>{{ log.modo }}</td>\n\n        </tr>\n</table>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":1400,"wires":[[]]},{"id":"41ba95ae.e8595c","type":"file in","z":"fe6c7b76.216838","name":"logs","filename":"historico.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":1400,"wires":[["44624555.b54bcc"]]},{"id":"44624555.b54bcc","type":"function","z":"fe6c7b76.216838","name":"Formata dados cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados.reverse();\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":620,"y":1400,"wires":[["ed391798.f52a18"]]},{"id":"832d9f6.0d4716","type":"inject","z":"fe6c7b76.216838","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1400,"wires":[["41ba95ae.e8595c"]]},{"id":"1d11c6e9.d1a5c9","type":"comment","z":"fe6c7b76.216838","name":"Atualizar tempo de desligamento padrão","info":"","x":520,"y":1100,"wires":[]},{"id":"f4bdacff.4a4d2","type":"comment","z":"fe6c7b76.216838","name":"Ligar e desligar válvulas manualmente","info":"","x":410,"y":740,"wires":[]},{"id":"fee8a2d9.bf5","type":"comment","z":"fe6c7b76.216838","name":"Exibe o tempo padrão de desligamento","info":"","x":430,"y":1220,"wires":[]},{"id":"e85b2009.9824b","type":"comment","z":"fe6c7b76.216838","name":"Exibe o histórico do sistema","info":"","x":300,"y":1360,"wires":[]},{"id":"e8d1d226.bb3f9","type":"file in","z":"fe6c7b76.216838","name":"historico pesquisado","filename":"pesquisaHistoricoResultado.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":1500,"wires":[["db7c0699.c665d8"]]},{"id":"db7c0699.c665d8","type":"function","z":"fe6c7b76.216838","name":"Formata dados cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados.reverse();\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":800,"y":1500,"wires":[["2e1d0e61.068752"]]},{"id":"31eca205.50f20e","type":"inject","z":"fe6c7b76.216838","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1500,"wires":[["e8d1d226.bb3f9"]]},{"id":"709c4eb4.2d811","type":"debug","z":"fe6c7b76.216838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":980,"wires":[]},{"id":"2e1d0e61.068752","type":"ui_template","z":"fe6c7b76.216838","group":"a1de0375.87d09","name":"","order":0,"width":"18","height":"12","format":"<style>\n\n* {\n    max-width: 100% !important;\n}\n\nform {\n    width: 100%;\n    max-width: 100%;\n    display: flex;\n    flex-wrap: wrap;\n    flex-direction: column;\n    align-items:center;\n}\n\n.box-input {\n    width: calc(100% - 20px);\n}\n\ninput {\n    width: 100%;\n    height: 35px;\n    background: transparent;\n    \n}\n\n.btn {\n    background-color: #061f3b;\n    color: #fff;\n    width: 100%;\n    height: 40px;\n    border: none;\n    border-radius: 3px;\n    cursor: pointer;\n    margin-top: 25px;\n    text-transform: uppercase;\n    \n}\n\n.btn-dia {\n    margin-top: 5px;\n}\n\n.wrap-table {\n    width: 1200px !important;\n    overflow-x: auto;\n}\n\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100% !important;\n  min-width: 650px;\n  margin: 0 auto;\n  margin-top: 30px;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n\n.box-info {\n    text-align: center;\n    padding-top: 60px;\n}\n\n.box-info h2 {\n    text-align: center;\n    font-size: 1.8em;\n    color: #333;\n    line-height: 28px;\n    font-weight: 600;\n}\n</style>\n\n    <form>\n        <div class=\"box-input\">\n            <label>Data Final</label>\n            <input type=\"date\" id=\"dataInicial\" placeholder=\"Data Inicial\" ng-model=\"dataInicial\">\n        </div>\n        \n        <div class=\"box-input\">\n            <label>Data Inicial</label>\n            <input type=\"date\" id=\"dataFinal\" placeholder=\"Data Final\" ng-model=\"dataFinal\">\n        </div>\n        \n        <div class=\"box-input\">\n            <button class=\"btn\" ng-click=\"send({payload:historicoIntervalo()})\">Pesquisar</button>\n            <button class=\"btn btn-dia\" ng-click=\"send({payload:historicoDia()})\">Pesquisar Históricos do dia</button>\n        </div>\n\n    </form>\n    \n<div class=\"wrap-table\">\n    \n    <table id=\"table\" border=\"0\" ng-if=\"msg.payload.length > 0\">\n        <tr>\n            <th>Válvula</th>\n            <th>Data</th>\n            <th>Início</th>\n            <th>Fim</th>\n            <th>Dia</th>\n            <th>Modo</th>\n        </tr>\n\n        <tr ng-repeat=\"log in msg.payload\">\n            <td>{{ log.valvula }}</td>\n            <td>{{ log.data }}</td>\n           <td>{{ log.inicio }}</td>\n           <th>{{ log.fim }}</th>\n           <td>{{ log.dia }}</td>\n           <td>{{ log.modo }}</td>\n\n        </tr>\n    </table>\n</div>\n    \n\n\n\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n     this.scope.dataInicial = 'Data Inicial';\n     this.scope.dataFinal = 'Data Final';\n    \n    this.scope.historicoIntervalo = () => {\n        \n        return {acao: \"historicoIntervalo\", dataInicial: this.dataInicial.value, dataFinal: this.dataFinal.value}\n    };\n    \n    this.scope.historicoDia = () => {\n        return {acao: \"historicoDia\"}\n    };\n</script>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1080,"y":1500,"wires":[["efaac0f8.3966b"]]},{"id":"2c2c3cc3.197154","type":"debug","z":"fe6c7b76.216838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":1660,"wires":[]},{"id":"efaac0f8.3966b","type":"function","z":"fe6c7b76.216838","name":"","func":"const {acao, dataInicial = 0, dataFinal= 0} = msg.payload;\nconst dados = [acao, dataInicial, dataFinal]\nmsg.payload = dados;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1600,"wires":[["c72dd98d.1ad458"]]},{"id":"c72dd98d.1ad458","type":"exec","z":"fe6c7b76.216838","command":"sudo python3.7 pesquisaHistorico.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Irrigar Manualmente","x":1420,"y":1700,"wires":[[],[],[]]},{"id":"4c64fe0d.8f48","type":"debug","z":"fe6c7b76.216838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":1880,"wires":[]},{"id":"fc037fb8.25398","type":"debug","z":"fe6c7b76.216838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2100,"y":320,"wires":[]},{"id":"ecb35132.5382","type":"ui_group","z":"","name":"","tab":"75e1080e.bae498","order":2,"disp":true,"width":"6","collapse":false},{"id":"f5dfe93e.8b9348","type":"ui_group","z":"","name":"Cadastrar um novo horário","tab":"298c2479.2bbbec","order":1,"disp":true,"width":"12","collapse":false},{"id":"c7643260.9b854","type":"ui_group","z":"","name":"","tab":"ac0b086d.75f278","order":1,"disp":true,"width":"12","collapse":false},{"id":"9be85860.2a7868","type":"ui_group","z":"","name":"Tempo de funcionamento padrão","tab":"75e1080e.bae498","order":1,"disp":true,"width":"6","collapse":false},{"id":"a50643c4.b6d5d","type":"ui_group","z":"","name":"Histórico","tab":"149b38f5.943557","order":1,"disp":true,"width":"18","collapse":false},{"id":"a1de0375.87d09","type":"ui_group","z":"","name":"Pesquisa","tab":"5e00f76c.2108c8","order":1,"disp":true,"width":"18","collapse":false},{"id":"75e1080e.bae498","type":"ui_tab","z":"","name":"Configurações","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"298c2479.2bbbec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ac0b086d.75f278","type":"ui_tab","z":"","name":"Ligar manualmente","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"149b38f5.943557","type":"ui_tab","z":"","name":"Todos Histórico de Acionamentos","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5e00f76c.2108c8","type":"ui_tab","z":"","name":"Pesquisar Históricos","icon":"dashboard","order":4,"disabled":false,"hidden":false}]