Parte - 7/projeto/flows.json
[{"id":"33af9e8a.0fb3f2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"38e56a9f.2ca156","type":"function","z":"33af9e8a.0fb3f2","name":"Formata horário","func":"const {horario, tempoLigado, secao} = msg.payload\nconst dados = [horario, tempoLigado, secao]\n\nmsg.payload = dados\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":200,"wires":[["1a73e6be.d28d09"]]},{"id":"7c602e02.7e8c7","type":"file in","z":"33af9e8a.0fb3f2","name":"Horários do sistema","filename":"agendamentos.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1260,"y":380,"wires":[["afe05d94.376be"]]},{"id":"1a73e6be.d28d09","type":"exec","z":"33af9e8a.0fb3f2","command":"sudo python3 cadastrar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Cadastrar","x":1730,"y":200,"wires":[[],[],[]]},{"id":"afe05d94.376be","type":"function","z":"33af9e8a.0fb3f2","name":"Formata horários cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":1530,"y":380,"wires":[["25072c26.808454"]]},{"id":"7b2701e3.b525","type":"exec","z":"33af9e8a.0fb3f2","command":"sudo python3 deletar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Método Deletar","x":1120,"y":640,"wires":[["7c602e02.7e8c7"],[],[]]},{"id":"c86fb12c.66d1e","type":"function","z":"33af9e8a.0fb3f2","name":"Formata horário","func":"\nconst {id, horario, tempoLigado, valvula, status} = msg.payload\nconst dados = [id, horario, tempoLigado, valvula, status]\n\n\nmsg.payload = dados\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":520,"wires":[["46dd0feb.e4f05"]]},{"id":"46dd0feb.e4f05","type":"exec","z":"33af9e8a.0fb3f2","command":"sudo python3 atualizar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Atualizar","x":970,"y":520,"wires":[["7c602e02.7e8c7"],[],[]]},{"id":"7108fe00.02ffe4","type":"inject","z":"33af9e8a.0fb3f2","name":"Injetor","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":900,"y":380,"wires":[["7c602e02.7e8c7"]]},{"id":"2a2ceafd.1bf566","type":"exec","z":"33af9e8a.0fb3f2","command":"sudo python3 controleLigarDesligar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Irrigar Manualmente","x":880,"y":940,"wires":[["8d0b3804.e60cf8","e1d8e3e3.a8b4e"],["be8f6931.c70278"],[]]},{"id":"a51e1954.c69208","type":"function","z":"33af9e8a.0fb3f2","name":"Formata dados cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":880,"y":780,"wires":[["2601a502.c12b3a"]]},{"id":"8d0b3804.e60cf8","type":"file in","z":"33af9e8a.0fb3f2","name":"Valvulas do sistema","filename":"valvulas.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":780,"wires":[["a51e1954.c69208"]]},{"id":"2bf95808.ace198","type":"inject","z":"33af9e8a.0fb3f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":780,"wires":[["8d0b3804.e60cf8"]]},{"id":"5b92c8ad.78d3e8","type":"function","z":"33af9e8a.0fb3f2","name":"","func":"const {acao, valvula} = msg.payload;\nconst dados = [valvula, acao,]\nmsg.payload = dados;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":840,"wires":[["2a2ceafd.1bf566"]]},{"id":"5e998328.9aa40c","type":"function","z":"33af9e8a.0fb3f2","name":"","func":"msg.payload = msg.payload.tempo\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1140,"wires":[["92612eb4.8c939"]]},{"id":"92612eb4.8c939","type":"exec","z":"33af9e8a.0fb3f2","command":"sudo python3 atualizarConfiguracoes.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Cadastrar","x":750,"y":1140,"wires":[[],[],[]]},{"id":"d19f016a.a6ac8","type":"file in","z":"33af9e8a.0fb3f2","name":"Configurações cadastradas","filename":"configuracoes.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":1260,"wires":[["a7ddf74d.7238a8"]]},{"id":"d0cffdef.54ded","type":"inject","z":"33af9e8a.0fb3f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":1260,"wires":[["d19f016a.a6ac8"]]},{"id":"a7ddf74d.7238a8","type":"function","z":"33af9e8a.0fb3f2","name":"Formata dados cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":860,"y":1260,"wires":[["f6c23874.7f2538"]]},{"id":"1c4a5ea3.39acf1","type":"comment","z":"33af9e8a.0fb3f2","name":"Atualizar tempo de desligamento padrão","info":"","x":520,"y":1100,"wires":[]},{"id":"79dae2fe.460f9c","type":"comment","z":"33af9e8a.0fb3f2","name":"Ligar e desligar válvulas manualmente","info":"","x":410,"y":740,"wires":[]},{"id":"43d9fe4d.4f078","type":"comment","z":"33af9e8a.0fb3f2","name":"Exibe o tempo padrão de desligamento","info":"","x":430,"y":1220,"wires":[]},{"id":"dbd8eebe.dbaa","type":"file in","z":"33af9e8a.0fb3f2","name":"historico pesquisado","filename":"pesquisaHistoricoResultado.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":1500,"wires":[["86f3f135.5c101"]]},{"id":"86f3f135.5c101","type":"function","z":"33af9e8a.0fb3f2","name":"Formata dados cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\n//if (dados.length > 0) {\n    msg.payload = dados.reverse();\n    return msg;\n//}\n\n\n\n","outputs":1,"noerr":0,"x":800,"y":1500,"wires":[["dad8cd89.f8f81"]]},{"id":"a0be43fb.8a274","type":"inject","z":"33af9e8a.0fb3f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1500,"wires":[["dbd8eebe.dbaa"]]},{"id":"be8f6931.c70278","type":"debug","z":"33af9e8a.0fb3f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":980,"wires":[]},{"id":"94446db.1e5ca9","type":"debug","z":"33af9e8a.0fb3f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":1660,"wires":[]},{"id":"ef1f5bb.cb3c4a8","type":"function","z":"33af9e8a.0fb3f2","name":"","func":"const {acao, dataInicial = 0, dataFinal= 0} = msg.payload;\nconst dados = [acao, dataInicial, dataFinal]\nmsg.payload = dados;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1600,"wires":[["9ee06733.0ccea8"]]},{"id":"9ee06733.0ccea8","type":"exec","z":"33af9e8a.0fb3f2","command":"sudo python3 pesquisaHistorico.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Pesquisar no histórico","x":1420,"y":1700,"wires":[[],[],[]]},{"id":"32e7f27.7c1c80e","type":"debug","z":"33af9e8a.0fb3f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":1880,"wires":[]},{"id":"96f7b3d7.32c99","type":"ui_form","z":"33af9e8a.0fb3f2","name":"","label":"","group":"98667ea6.f9c95","order":0,"width":0,"height":0,"options":[{"label":"Tempo Padrão","value":"tempo","type":"number","required":true}],"formValue":{"tempo":""},"payload":"","submit":"Salvar","cancel":"Cancelar","topic":"","x":410,"y":1140,"wires":[["5e998328.9aa40c"]]},{"id":"25072c26.808454","type":"ui_template","z":"33af9e8a.0fb3f2","group":"50133a39.273354","name":"/Home","order":1,"width":"12","height":"14","format":"\n<style>\n* {\n    max-width: 100% !important;\n}\n\nbody {\n  background-color: #e1e2e3;\n  height: 1000px;\n} \n\n.content {\n    width: 100%;\n    max-width: 100%;\n    display: flex;\n    flex-wrap: wrap;\n    justify-content: center;\n}\n\n\nform.editar {\n    padding: 25px 30px;\n    width: 400px;\n    max-width: calc(100% - 40px);\n    background-color: #fff;\n    z-index: 100;\n    box-shadow: 0px 0px 8px 0px rgba(20,20,20,0.6);\n    border-radius: 2px;\n    display: flex;\n    flex-wrap: wrap;\n    flex-direction: column;\n    align-items: center;\n    margin-top: 60px;\n}\n\nform.editar .title {\n    color: #0d4380;\n    font-size: 1.275em;\n    font-weight: 500;\n    margin-bottom: 20px;\n}\n\nform.editar label {\n    display: block;\n    margin-bottom: 3px;\n    font-family: arial;\n    color: #333;\n    font-size: 1em;\n}\n\n.control-input {\n    width: 100%;\n    max-width: 100%;\n}\n\nform.editar input {\n    width: 100%;\n    max-width: 100%;\n    height: 35px;\n    padding-left: 10px;\n    margin: 0 auto 15px auto;\n}\n\n.box-buttons {\n    display: flex;\n    flex-wrap: wrap;\n\n}\n\nform.editar button {\n    background-color: #061f3b;\n    color: #fff;\n    width: 140px;\n    height: 35px;\n    border: none;\n    border-radius: 3px;\n    cursor: pointer;\n    margin: 0 10px;\n    text-transform: uppercase;\n     margin-bottom: 5px;\n}\n\nform.editar button:hover {\n    background-color: #072b54;\n}\n\n.msg-sucesso {\n    color: #fff;\n    background: #40ff73;\n    font-size: 1.1em;\n    padding: 10px 40px;\n    border-radius: 3px;\n    margin-bottom: 10px;\n \n    \n}\n\n\n\n\n.btn {\n    color: #fff;\n    border: none;\n    border-radius: 1px;\n    padding: 5px 8px;\n    display: inline-block;\n    \n    \n}\n\n.btn-editar {\n    background-color: #1912cc;\n    opacity: 0.5;\n   \n}\n\n.btn-deletar {\n    background-color: #f72a0a;\n    opacity: 0.5;\n}\n\n.btn:hover {\n    opacity: 1;\n}\n\n.wrap-table {\n    width: 2000px !important;\n    overflow-x: auto;\n}\n\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100% !important;\n  min-width: 530px;\n  margin: 0 auto;\n  margin-top: 30px;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n\n.box-info {\n    text-align: center;\n    padding-top: 60px;\n}\n\n.box-info h2 {\n    text-align: center;\n    font-size: 1.8em;\n    color: #333;\n    line-height: 28px;\n    font-weight: 600;\n}\n</style>\n\n<div class=\"content\">\n\n \n    <form ng-show=\"emEdicao.editando\" class=\"editar\" id=\"form-editar\">\n        <h2 class=\"title\">Editar Horário</h2>\n        \n        \n        <div class=\"control-input\">\n            <label>Horário Formato: HH:MM</label>\n            <input type=\"text\" name=\"horario\" ng-model=\"objHorario.horario\"  />\n        </div>\n        \n        <div class=\"control-input\">\n            <label>Tempo Ligado (m)</label>\n            <input type=\"text\" min=\"0\" name=\"tempoLigado\" value=\"objHorario.tempoLigado\" ng-model=\"objHorario.tempoLigado\" />\n        </div>\n        \n        <div class=\"control-input\">\n            <label>Valvula</label>\n            <input type=\"text\" min=\"1\" name=\"valvula\" value=\"objHorario.valvula\" ng-model=\"objHorario.valvula\"  />\n        </div>\n        \n        <div class=\"box-buttons\">\n             <button ng-click=\"send({payload:editar(objHorario)})\">Editar</button>\n             <button ng-click=\"emEdicao.editando = false\">Cancelar</button>\n        </div>\n       \n        \n    </form>\n\n<div class=\"wrap-table\">\n<table id=\"table\" border=\"0\" ng-if=\"msg.payload.length > 0\">\n    <tr>\n        <th>Horário</th>\n        <th>Tempo Ligado (m)</th>\n        <th>Valvula</th>\n        <th>Ações</th>\n    </tr>\n\n        <tr ng-repeat=\"horario in msg.payload\">\n            <td>{{ horario.horario }}</td>\n            <td>{{ horario.tempoLigado }}</td>\n            <td>{{ horario.valvula }}</td>\n            <td>\n                <button class=\"btn btn-deletar\" ng-click=\"send({payload:sendId(horario.id)})\">Deletar</button>\n                <button class=\"btn btn-editar\" ng-click=\"send({payload:sendData(horario)})\">Editar</button>\n                \n            </td>\n        </tr>\n</table>\n</div>\n\n<div class=\"box-info\" ng-if=\"msg.payload.length === 0\">\n    <h2>Não há horários cadastrados</h2>\n</div>\n\n</div>\n\n\n<script>\n\n    \n  this.scope.sendId = id => id;\n\n  \n  this.scope.objHorario = {\n      id: \"\",\n      horario: \"\",\n      tempoLigado: \"\",\n      valvula: \"\",\n      status: \"\"\n  }\n\n  \n  this.scope.emEdicao = {\n      editando: false,\n      editado: false\n  };\n  \n \n  \n    this.scope.sendData = function(horario) {\n       \n       this.objHorario.id = horario.id;\n       this.objHorario.horario = horario.horario;\n       this.objHorario.tempoLigado = horario.tempoLigado;\n       this.objHorario.valvula = horario.valvula;\n       this.objHorario.status = horario.status;\n       this.emEdicao.editando = true;\n  \n    \n    };\n    \n     this.scope.editar = function(horario) {\n        this.emEdicao.editando = false;\n        \n        return horario;\n    }\n    \n \n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1810,"y":380,"wires":[["7b2701e3.b525","c86fb12c.66d1e"]]},{"id":"2601a502.c12b3a","type":"ui_template","z":"33af9e8a.0fb3f2","group":"977480f0.f4fb9","name":"","order":1,"width":"12","height":"10","format":"<style type=\"text/css\" media=\"all\">\n\n    * {\n        max-width: 100% !important;\n        box-sizing: border-box;\n    }\n    /*.lista-valvulas {*/\n    /*    list-style: none;*/\n    /*    width: 100%;*/\n    /*    max-width: 100%;*/\n    /*    margin: 10px 20px;*/\n    /*    display: flex;*/\n    /*    flex-wrap: wrap;*/\n        \n    /*}*/\n    \n    ul {\n        list-style: none;\n        width: 500px;\n        max-width: 100%;\n        margin: 0 auto;\n        display: flex;\n        flex-wrap: wrap;\n        flex-direction: column;\n    }\n    * {\n  padding: 0;\n  margin: 0;\n  outline: 0;\n  box-sizing: border-box;\n}\n.valvula {\n  width: 400px;\n  max-width: 100%;\n  display: flex;\n  flex-wrap: wrap;\n  flex-direction: column;\n  align-items: center;\n  flex: 1;\n  box-shadow: 1px 1px 5px rgba(17,17,17,0.1);\n  margin-bottom: 30px;\n}\n\n.box-secao {\n  width: 100%;\n  max-width: 100%;\n  border-bottom: 1px solid rgba(17,17,17,0.1);\n  text-align: center;\n  padding: 15px;\n  margin-bottom: 8px;\n  \n}\n\n.box-secao p {\n  font-size: 1.5em;\n  font-weight: 700;\n  color: #525252 !important;\n  line-height: 24px\n}\n\n.box-ligado {\n  display: flex;\n  flex-wrap: wrap;\n  flex-direction: column;\n  align-items: center;\n}\n\n.box-ligado p {\n  font-size: 1em;\n  font-weight: 600;\n  line-height: 20px;\n  color: #333;\n}\n\n.btn {\n  width: 80px;\n  height: 80px;\n  border-radius: 50%;\n  border: none;\n  display: flex;\n  flex-wrap: wrap;\n  align-items: center;\n  justify-content: center;\n  padding: 1px;\n  margin: 20px 0 15px 0;\n  cursor: pointer;\n  background-color: #fff;\n}\n\n.btn:hover {\n  box-shadow: 1px 1px 8px rgba(0,0,0,0.6);\n  transition: 0.5s;\n  \n}\n\n.btn img {\n  max-width: 100%;\n  border-radius: 50%;\n}\n</style>\n\n<section>\n\n    <ul class=\"lista-valvulas\">\n        <li class=\"valvula\" ng-repeat=\"eletroValvula in msg.payload\">\n            <div class=\"box-secao\">\n               <p>{{ eletroValvula.secao }}</p> \n            </div>\n            <div class=\"box-ligado\"  ng-if=\"eletroValvula.status == 0\">\n                 <button class=\"btn\" ng-click=\"send({payload:valvulaLigar(eletroValvula.valvula)})\"><img src=\"https://images.freeimages.com/images/large-previews/fc2/black-power-button-1414383.jpg\" alt=\"\" /></button>\n            </div>\n           \n            <div class=\"box-ligado\" ng-if=\"eletroValvula.status == 1\">\n                <div>\n                    <button class=\"btn\" ng-click=\"send({payload:valvulaDesligar(eletroValvula.valvula)})\"><img src=\"https://icon-library.net/images/switch-off-icon/switch-off-icon-28.jpg\" alt=\"\" /></button>\n                </div>\n\n            </div>\n            \n            \n        </li>\n    </ul>\n</section>\n\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n    \n    \n    this.scope.valvulaLigar = valvula => {\n        return {acao: \"ligar\", valvula: valvula}\n    };\n    \n    this.scope.valvulaDesligar = valvula => {\n        return {acao: \"desligar\", valvula: valvula}\n    };\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1180,"y":780,"wires":[["5b92c8ad.78d3e8"]]},{"id":"f6c23874.7f2538","type":"ui_template","z":"33af9e8a.0fb3f2","group":"f885d082.99431","name":"","order":0,"width":"6","height":"4","format":"<style type=\"text/css\" media=\"all\">\n\n.box-tempo {\n    width: 100%;\n    max-width: 100%;\n    display: flex;\n    flex-wrap: wrap;\n    flex-direction: column;\n    justify-content: center;\n    align-items: center;\n}\n\n.box-tempo .info {\n    font-size: 1em;\n    font-weight: 700;\n    line-height: 24px;\n    color: #113c84;\n}\n\n.box-tempo .tempo {\n    margin-top: 45px;\n    font-size: 3em;\n    \n}\n    \n</style>\n\n\n    \n<section class=\"box-tempo\">\n     <p class=\"info\">Desliga automaticamente após:</p>\n     <p class=\"tempo\" ng-repeat=\"configuracao in msg.payload\">{{ configuracao.tempoPadrao }} min</p>\n    \n</section>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1100,"y":1260,"wires":[[]]},{"id":"dad8cd89.f8f81","type":"ui_template","z":"33af9e8a.0fb3f2","group":"255a1e83.f883a2","name":"","order":0,"width":"18","height":"12","format":"<style>\n\n* {\n    max-width: 100% !important;\n}\n\nform {\n    width: 100%;\n    max-width: 100%;\n    display: flex;\n    flex-wrap: wrap;\n    flex-direction: column;\n    align-items:center;\n}\n\n.box-input {\n    width: calc(100% - 20px);\n}\n\ninput {\n    width: 100%;\n    height: 35px;\n    background: transparent;\n    \n    \n}\n\n.btn {\n    background-color: #061f3b;\n    color: #fff;\n    width: 100%;\n    height: 40px;\n    border: none;\n    border-radius: 3px;\n    cursor: pointer;\n    margin-top: 25px;\n    text-transform: uppercase;\n    \n}\n\n.btn-dia {\n    margin-top: 5px;\n}\n\n.wrap-table {\n    width: 1200px !important;\n    overflow-x: auto;\n}\n\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100% !important;\n  min-width: 650px;\n  margin: 0 auto;\n  margin-top: 30px;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n\n.box-info {\n    text-align: center;\n    padding-top: 60px;\n}\n\n.box-info h2 {\n    text-align: center;\n    font-size: 1.8em;\n    color: #333;\n    line-height: 28px;\n    font-weight: 600;\n}\n</style>\n\n    <form>\n        <div class=\"box-input\">\n            <label>De</label>\n            <input type=\"date\" id=\"dataInicial\" placeholder=\"Data Inicial\" ng-model=\"dataInicial\">\n        </div>\n        \n        <div class=\"box-input\">\n            <label>Até</label>\n            <input type=\"date\" id=\"dataFinal\" placeholder=\"Data Final\" ng-model=\"dataFinal\">\n        </div>\n        \n        <div class=\"box-input\">\n            <button class=\"btn\" ng-click=\"send({payload:historicoIntervalo()})\">Pesquisar</button>\n            <button class=\"btn btn-dia\" ng-click=\"send({payload:historicoDia()})\">Pesquisar Históricos do dia</button>\n        </div>\n\n    </form>\n    \n<div class=\"wrap-table\">\n    \n    <table id=\"table\" border=\"0\" ng-if=\"msg.payload.length > 0\">\n        <tr>\n            <th>Válvula</th>\n            <th>Data</th>\n            <th>Início</th>\n            <th>Fim</th>\n            <th>Dia</th>\n            <th>Modo</th>\n        </tr>\n\n        <tr ng-repeat=\"log in msg.payload\">\n            <td>{{ log.valvula }}</td>\n            <td>{{ log.data }}</td>\n           <td>{{ log.inicio }}</td>\n           <th>{{ log.fim }}</th>\n           <td>{{ log.dia }}</td>\n           <td>{{ log.modo }}</td>\n\n        </tr>\n    </table>\n</div>\n    \n\n\n\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n     this.scope.dataInicial = 'Data Inicial';\n     this.scope.dataFinal = 'Data Final';\n    \n    this.scope.historicoIntervalo = () => {\n        \n        return {acao: \"historicoIntervalo\", dataInicial: this.dataInicial.value, dataFinal: this.dataFinal.value}\n    };\n    \n    this.scope.historicoDia = () => {\n        return {acao: \"historicoDia\"}\n    };\n</script>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1080,"y":1500,"wires":[["ef1f5bb.cb3c4a8"]]},{"id":"2f6461be.56130e","type":"comment","z":"33af9e8a.0fb3f2","name":"Filtra históricos","info":"","x":280,"y":1460,"wires":[]},{"id":"681694c2.ce0b1c","type":"ui_template","z":"33af9e8a.0fb3f2","group":"67e3dc5a.39e7f4","name":"Agendamento","order":0,"width":"16","height":"10","format":"    <style type=\"text/css\" media=\"all\">\n* {\n    max-width: 100% !important;\n}\n\n\n\n\n\n\n\n\nbody {\n  background-color: #e1e2e3;\n  height: 1000px;\n}    \n    \n.form-cadastro {\n  width: 400px;\n  max-width: calc(100% - 20px);\n  margin: 0 auto;\n  padding: 15px 5px;\n  display: flex;\n  flex-wrap: wrap;\n  flex-direction: column;\n  align-items: center;\n  background-color: #fff;\n  border-radius: 5px;\n  border-bottom: 1px solid rgba(17,17,17,0.4);\n  margin-bottom: 15px;\n}\n\n.titulo {\n  font-size: 1.5em;\n  font-family: arial;\n  font-weight: 600;\n  line-height: 24px;\n  color: #111111;\n  margin-bottom: 40px;\n}\n\n.box-input {\n  width: calc(100% - 40px);\n  padding: 10px 15px;\n  display: flex;\n  flex-wrap: wrap;\n  align-items: center;\n}\n\n.box-input label {\n  display: block;\n  color: #333;\n}\n\n.box-input input, .box-input select {\n  width: 100%;\n  height: 37px;\n  border: 1px solid rgba(17,17,17,0.3);\n  border-radius: 5px;\n  padding-left: 10px;\n  background-color: #fff;\n\n}\n\n.botao-cadastrar {\n  width: 140px;\n  height: 37px;\n  color: #fff;\n  border-radius: 5px;\n  cursor: pointer;\n  border: none;\n  background-color: #061f3b;\n  padding: 8px 5px;\n  font-size: 1.2em;\n  display: block;\n  margin-top: 20px;\n}\n    </style>\n    \n    \n    <form class=\"form-cadastro\">\n        <h1 class=\"titulo\">\n          Novo Agendamento\n        </h1>\n\n        \n        <div class=\"box-input\">\n          <label for=\"horario\">Horário Ligar</label>\n          <input type=\"time\" id=\"horario\" name=\"horario\" ng-model=\"objCadastro.horario\">\n        </div>\n        \n        <div class=\"box-input\">\n          <label for=\"tempoLigado\">Tempo Ligado (min)</label>\n          <input type=\"number\" id=\"tempoLigado\" name=\"tempoLigado\" ng-model=\"objCadastro.tempoLigado\">\n        </div>\n        \n        <div class=\"box-input\">\n          <select name=\"secao\" id=\"secao\" ng-model=\"objCadastro.secao\">\n            <option value=\"\">Selecione a seção</option>\n             <option value=\"11\">Seção 11</option>\n              <option value=\"13\">Seção 13</option>\n          </select>\n         \n        </div>\n        \n        <button class=\"botao-cadastrar\" ng-click=\"send({payload:cadastrar()})\">Cadastrar</button>\n\n    </form>\n    \n    <script type=\"text/javascript\" charset=\"utf-8\">\n        \n        \nthis.scope.objCadastro = {\n    horario: \"\",\n    tempoLigado: \"\",\n    secao: \"\"\n  }\n  this.scope.cadastrar = function () {\n    /*if (this.objCadastro.horario.length === 0 || this.objCadastro.tempoLigado.length === 0 || this.objCadastro.secao.length === 0) {\n      return \"Bad Request\";\n    }*/\n   this.objCadastro.horario = this.objCadastro.horario.toLocaleString('pt-BR', { hour: 'numeric', minute: 'numeric'});\n\n    return this.objCadastro;\n  }\n    </script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1200,"y":200,"wires":[["38e56a9f.2ca156"]]},{"id":"e1d8e3e3.a8b4e","type":"debug","z":"33af9e8a.0fb3f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":920,"wires":[]},{"id":"98667ea6.f9c95","type":"ui_group","z":"","name":"Editar","tab":"7a5ad52a.079c2c","order":1,"disp":true,"width":"6","collapse":false},{"id":"50133a39.273354","type":"ui_group","z":"","name":"","tab":"59749dbb.d7d844","order":1,"disp":true,"width":"16","collapse":false},{"id":"977480f0.f4fb9","type":"ui_group","z":"","name":"Ligar e status atual","tab":"120b25a5.1a3e3a","order":1,"disp":true,"width":"12","collapse":false},{"id":"f885d082.99431","type":"ui_group","z":"","name":"Tempo Atual","tab":"7a5ad52a.079c2c","order":2,"disp":true,"width":"14","collapse":false},{"id":"255a1e83.f883a2","type":"ui_group","z":"","name":"Filtro","tab":"56e52954.09e758","order":1,"disp":true,"width":"18","collapse":false},{"id":"67e3dc5a.39e7f4","type":"ui_group","z":"","name":"","tab":"e1bc117a.c215c","order":1,"disp":true,"width":"16","collapse":false},{"id":"7a5ad52a.079c2c","type":"ui_tab","z":"","name":"Tempo padrão para desligar","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"59749dbb.d7d844","type":"ui_tab","z":"","name":"Agendamentos","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"120b25a5.1a3e3a","type":"ui_tab","z":"","name":"Ligar Manualmente","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"56e52954.09e758","type":"ui_tab","z":"","name":"Filtrar Históricos","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"e1bc117a.c215c","type":"ui_tab","z":"","name":"Novo Agendamento","icon":"dashboard","order":1,"disabled":false,"hidden":false}]