Parte - 2/flows.json
[{"id":"ee8e9743.5f8a28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"455adbfb.6977c4","type":"file","z":"ee8e9743.5f8a28","name":"","filename":"/home/pi/quantidade.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":450,"y":80,"wires":[["5f9f149d.bb8ddc"]]},{"id":"43a41325.13987c","type":"ui_dropdown","z":"ee8e9743.5f8a28","name":"Quantidade","label":"Quantidade de vezes","tooltip":"Vezes que irá ligar ao dia","place":"","group":"b1a80e53.71bf9","order":8,"width":"6","height":"2","passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"10","value":"10","type":"str"}],"payload":"","topic":"","x":90,"y":80,"wires":[["bafa2936.205a68"]]},{"id":"bafa2936.205a68","type":"function","z":"ee8e9743.5f8a28","name":"","func":"var payload = {\"quantidade\": msg.payload};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["455adbfb.6977c4"]]},{"id":"93d434da.925ed8","type":"file","z":"ee8e9743.5f8a28","name":"","filename":"/home/pi/file.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":830,"y":560,"wires":[[]]},{"id":"5f9f149d.bb8ddc","type":"function","z":"ee8e9743.5f8a28","name":"","func":"msg.payload = parseFloat(msg.payload.quantidade);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["12f9a825.2a6298"]]},{"id":"12f9a825.2a6298","type":"while-loop","z":"ee8e9743.5f8a28","name":"","condi":"msg.payload > 1","x":200,"y":200,"wires":[["545e6fa8.62541"],["11eeb25d.6f3e9e"]]},{"id":"545e6fa8.62541","type":"debug","z":"ee8e9743.5f8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":200,"wires":[]},{"id":"11eeb25d.6f3e9e","type":"function","z":"ee8e9743.5f8a28","name":"decrement","func":"msg.payload = msg.payload - 1;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":320,"wires":[["11911ec5.be1201"]]},{"id":"52c869b6.4fff38","type":"inject","z":"ee8e9743.5f8a28","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["f2b7437a.cd8e5"]]},{"id":"f2b7437a.cd8e5","type":"function","z":"ee8e9743.5f8a28","name":"","func":"msg.payload = msg.payload + 1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":460,"wires":[["54fd0498.edaabc"]]},{"id":"54fd0498.edaabc","type":"debug","z":"ee8e9743.5f8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":460,"wires":[]},{"id":"7cd6cf45.6ee01","type":"comment","z":"ee8e9743.5f8a28","name":"Quantidade para ligar por dia","info":"","x":140,"y":40,"wires":[]},{"id":"b2aa22ad.4ba34","type":"ui_text_input","z":"ee8e9743.5f8a28","name":"","label":"","tooltip":"","group":"b1a80e53.71bf9","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":450,"y":360,"wires":[["a9419f4a.78974"]]},{"id":"a9419f4a.78974","type":"file","z":"ee8e9743.5f8a28","name":"","filename":"/home/pi/file.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":660,"y":320,"wires":[["a3906e49.1dc88"]]},{"id":"a3906e49.1dc88","type":"debug","z":"ee8e9743.5f8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":480,"wires":[]},{"id":"11911ec5.be1201","type":"debug","z":"ee8e9743.5f8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":280,"wires":[]},{"id":"b1a80e53.71bf9","type":"ui_group","z":"","name":"form","tab":"782383aa.e2118c","disp":true,"width":"6","collapse":false},{"id":"782383aa.e2118c","type":"ui_tab","z":"","name":"form","icon":"dashboard","disabled":false,"hidden":false}]