Parte - 2/form horario json.json
[{"id":"ee8e9743.5f8a28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"571e3a27.ba3a64","type":"ui_form","z":"ee8e9743.5f8a28","name":"","label":"Primeiro horário para ligar o sistema","group":"f361901b.34b51","order":1,"width":"7","height":"8","options":[{"label":"Hora","value":"hora1","type":"number","required":true},{"label":"Tempo Ligado","value":"tempoLigado1","type":"number","required":true},{"label":"Potência","value":"potencia1","type":"number","required":true}],"formValue":{"hora1":"","tempoLigado1":"","potencia1":""},"payload":"","submit":"Gravar","cancel":"cancel","topic":"","x":340,"y":20,"wires":[["667d32e1.ade93c"]]},{"id":"50376a39.0343c4","type":"ui_form","z":"ee8e9743.5f8a28","name":"","label":"Segundo horário para ligar o sistema","group":"f361901b.34b51","order":2,"width":"7","height":"8","options":[{"label":"Hora","value":"hora2","type":"number","required":true},{"label":"Tempo Ligado","value":"tempoLigado2","type":"number","required":true},{"label":"Potência","value":"potencia2","type":"number","required":true}],"formValue":{"hora2":"","tempoLigado2":"","potencia2":""},"payload":"","submit":"Gravar","cancel":"cancel","topic":"","x":340,"y":60,"wires":[["667d32e1.ade93c"]]},{"id":"cd179264.589b7","type":"ui_form","z":"ee8e9743.5f8a28","name":"","label":"Terceiro horário para ligar o sistema","group":"f361901b.34b51","order":3,"width":"7","height":"8","options":[{"label":"Hora","value":"hora3","type":"number","required":true},{"label":"Tempo Ligado","value":"tempoLigado3","type":"number","required":true},{"label":"Potência","value":"potencia3","type":"number","required":true}],"formValue":{"hora3":"","tempoLigado3":"","potencia3":""},"payload":"","submit":"Gravar","cancel":"cancel","topic":"","x":340,"y":100,"wires":[["667d32e1.ade93c"]]},{"id":"667d32e1.ade93c","type":"function","z":"ee8e9743.5f8a28","name":"dataFromJSON","func":"let payload = JSON.stringify(msg.payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":60,"wires":[["41ba3ac2.a99ee4"]]},{"id":"8dcaf7a2.210978","type":"ui_form","z":"ee8e9743.5f8a28","name":"","label":"Configure os três horários do Sistema","group":"6e9aca37.52c1d4","order":0,"width":"6","height":"6","options":[{"label":"Primeiro Horário","value":"hora1","type":"text","required":true},{"label":"Tempo Ligado (m)","value":"intervalo1","type":"text","required":true},{"label":"Potência","value":"potencia1","type":"text","required":true},{"label":"Segundo Horário","value":"hora2","type":"text","required":true},{"label":"Tempo Ligado (m)","value":"intervalo2","type":"text","required":true},{"label":"Potência","value":"potencia2","type":"text","required":true},{"label":"Terceiro Horário","value":"hora3","type":"text","required":true},{"label":"Tempo Ligado","value":"intervalo3","type":"text","required":true},{"label":"Potência","value":"potencia3","type":"text","required":true}],"formValue":{"hora1":"","intervalo1":"","potencia1":"","hora2":"","intervalo2":"","potencia2":"","hora3":"","intervalo3":"","potencia3":""},"payload":"","submit":"Gravar","cancel":"cancelar","topic":"Configurações 1","x":350,"y":160,"wires":[["97073748.a01738"]]},{"id":"97073748.a01738","type":"function","z":"ee8e9743.5f8a28","name":"dataFromJSON","func":"let payload = JSON.stringify(msg.payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":160,"wires":[["aa467d92.5faba"]]},{"id":"aa467d92.5faba","type":"file","z":"ee8e9743.5f8a28","name":"","filename":"/home/pi/settings.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":820,"y":160,"wires":[[]]},{"id":"ba1b50e5.99fd3","type":"file","z":"ee8e9743.5f8a28","name":"","filename":"/home/pi/settings.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":60,"wires":[[]]},{"id":"41ba3ac2.a99ee4","type":"json","z":"ee8e9743.5f8a28","name":"","property":"payload","action":"","pretty":false,"x":790,"y":60,"wires":[["ba1b50e5.99fd3"]]},{"id":"95917276.3388d","type":"file in","z":"ee8e9743.5f8a28","name":"","filename":"/home/pi/settings.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":240,"wires":[["a3a7f35d.bbca4"]]},{"id":"7af5940f.d05abc","type":"inject","z":"ee8e9743.5f8a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":290,"y":240,"wires":[["95917276.3388d"]]},{"id":"a3a7f35d.bbca4","type":"function","z":"ee8e9743.5f8a28","name":"","func":"let payload = JSON.parse(msg.payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["3529726b.7a341e","b6483c14.8f109","b3b640c1.ed851","2a12db17.10b174","95ef8648.a31c78","3196f71d.a65438","9527486c.d39568","1c6e82fa.2825fd","298744b6.d86a6c"]]},{"id":"3529726b.7a341e","type":"ui_text","z":"ee8e9743.5f8a28","group":"ac8556e2.e22cb8","order":1,"width":0,"height":0,"name":"Primeiro Horário","label":"Primeiro horário que será ligado","format":"{{msg.payload.hora1}} h","layout":"row-left","x":580,"y":300,"wires":[]},{"id":"b6483c14.8f109","type":"ui_text","z":"ee8e9743.5f8a28","group":"ac8556e2.e22cb8","order":2,"width":0,"height":0,"name":"Tempo Ligado 1","label":"Tempo Ligado","format":"{{msg.payload.intervalo1}} m","layout":"row-left","x":580,"y":340,"wires":[]},{"id":"b3b640c1.ed851","type":"ui_text","z":"ee8e9743.5f8a28","group":"ac8556e2.e22cb8","order":3,"width":0,"height":0,"name":"Potência da Bomba 1","label":"Potência da bomba","format":"{{msg.payload.potencia1}}","layout":"row-left","x":600,"y":380,"wires":[]},{"id":"2a12db17.10b174","type":"ui_text","z":"ee8e9743.5f8a28","group":"8e60b784.f64448","order":1,"width":"6","height":"2","name":"Segundo Horário","label":"Segundo horário que será ligado","format":"{{msg.payload.hora2}} h","layout":"row-left","x":590,"y":440,"wires":[]},{"id":"95ef8648.a31c78","type":"ui_text","z":"ee8e9743.5f8a28","group":"8e60b784.f64448","order":2,"width":0,"height":0,"name":"Tempo Ligado 2","label":"Tempo Ligado","format":"{{msg.payload.intervalo2}} m","layout":"row-left","x":580,"y":480,"wires":[]},{"id":"3196f71d.a65438","type":"ui_text","z":"ee8e9743.5f8a28","group":"8e60b784.f64448","order":3,"width":0,"height":0,"name":"Potência da Bomba 2","label":"Potência da Bomba","format":"{{msg.payload.potencia2}}","layout":"row-left","x":600,"y":520,"wires":[]},{"id":"9527486c.d39568","type":"ui_text","z":"ee8e9743.5f8a28","group":"b1a80e53.71bf9","order":1,"width":0,"height":0,"name":"Terceiro Horário","label":"Terceiro horário que será ligado","format":"{{msg.payload.hora3}} h","layout":"row-left","x":584,"y":580,"wires":[]},{"id":"1c6e82fa.2825fd","type":"ui_text","z":"ee8e9743.5f8a28","group":"b1a80e53.71bf9","order":2,"width":0,"height":0,"name":"Tempo ligado 3","label":"Tempo ligado","format":"{{msg.payload.intervalo3}} m","layout":"row-left","x":584,"y":630,"wires":[]},{"id":"298744b6.d86a6c","type":"ui_text","z":"ee8e9743.5f8a28","group":"b1a80e53.71bf9","order":3,"width":0,"height":0,"name":"Potência da bomba 3","label":"Potência da bomba","format":"{{msg.payload.potencia3}}","layout":"row-left","x":606,"y":683,"wires":[]},{"id":"98c0ba9.ca15a48","type":"moment","z":"ee8e9743.5f8a28","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd/H:mm","locale":"pt_BR","output":"","outputType":"msg","outTz":"America/Recife","x":840,"y":360,"wires":[["cbd9a240.d601b"]]},{"id":"1ae79f06.b96911","type":"inject","z":"ee8e9743.5f8a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":460,"wires":[["98c0ba9.ca15a48"]]},{"id":"cbd9a240.d601b","type":"debug","z":"ee8e9743.5f8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":300,"wires":[]},{"id":"f361901b.34b51","type":"ui_group","z":"","name":"Configurações","tab":"848008e.0eb0bf8","order":1,"disp":true,"width":"21","collapse":false},{"id":"6e9aca37.52c1d4","type":"ui_group","z":"","name":"Editar configurações","tab":"746d2468.76622c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac8556e2.e22cb8","type":"ui_group","z":"","name":"Primeiro Horário","tab":"746d2468.76622c","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e60b784.f64448","type":"ui_group","z":"","name":"Segundo Horário","tab":"746d2468.76622c","order":3,"disp":true,"width":"6","collapse":false},{"id":"b1a80e53.71bf9","type":"ui_group","z":"","name":"Terceiro Horário","tab":"746d2468.76622c","order":4,"disp":true,"width":"6","collapse":false},{"id":"848008e.0eb0bf8","type":"ui_tab","z":"","name":"Configurações do Sistema","icon":"dashboard","disabled":false,"hidden":false},{"id":"746d2468.76622c","type":"ui_tab","z":"","name":"Configurações atuais","icon":"dashboard","disabled":false,"hidden":false}]