Parte - 4/flows.json
[{"id":"ee8e9743.5f8a28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"571e3a27.ba3a64","type":"ui_form","z":"ee8e9743.5f8a28","name":"","label":"Form - Adicionar Novo Horário","group":"f361901b.34b51","order":1,"width":"8","height":"4","options":[{"label":"Horário a ligar","value":"horario","type":"text","required":true},{"label":"Tempo Ligado (m)","value":"tempoLigado","type":"text","required":true},{"label":"Led a Ligar","value":"led","type":"number","required":true}],"formValue":{"horario":"","tempoLigado":"","led":""},"payload":"","submit":"Cadastrar","cancel":"Cancelar","topic":"","x":260,"y":220,"wires":[["ab58235f.a1359"]],"icon":"font-awesome/fa-clock-o"},{"id":"a96f0f2e.dfa9c","type":"function","z":"ee8e9743.5f8a28","name":"Formatar horário","func":"dados = []\nvar form = msg.payload\ndados.push(form.horario)\ndados.push(form.tempoLigado)\ndados.push(form.led)\n\nmsg.payload = dados\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["219ae344.60a3cc"]]},{"id":"af187b4b.609618","type":"file in","z":"ee8e9743.5f8a28","name":"Horários do sistema","filename":"horarios.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":520,"wires":[["11d5c9de.27dff6"]]},{"id":"219ae344.60a3cc","type":"exec","z":"ee8e9743.5f8a28","command":"sudo python3.7 cadastrar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Cadastrar","x":770,"y":220,"wires":[["9102a034.d5fb8","af187b4b.609618"],["28612156.79999e"],[]]},{"id":"9102a034.d5fb8","type":"debug","z":"ee8e9743.5f8a28","name":"Saída","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":180,"wires":[]},{"id":"28612156.79999e","type":"debug","z":"ee8e9743.5f8a28","name":"Erro","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":240,"wires":[]},{"id":"11d5c9de.27dff6","type":"function","z":"ee8e9743.5f8a28","name":"Formata horários cadastrados","func":"dados = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\ndados = msg.payload.split(',,')\n\ndados.pop();\n\nfor (let i = 0; i < dados.length; i++) {\n    dados[i] = JSON.parse(dados[i])\n}\n\n\ndados.sort((a,b) => {\n    return a.horario > b.horario;\n})\n\nmsg.payload = dados\n\nreturn msg\n","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["ed5d1072.69f9b","f6f88206.fd5b9","4da74a64.0a0fa4","e5802fd5.579e7"]]},{"id":"1bcaa62c.7c996a","type":"comment","z":"ee8e9743.5f8a28","name":"Cadastra um novo horário","info":"","x":330,"y":180,"wires":[]},{"id":"198a3df8.812472","type":"ui_form","z":"ee8e9743.5f8a28","name":"","label":"Form - Deletar Horário","group":"c3640149.c7ad","order":0,"width":"6","height":"5","options":[{"label":"ID do horário","value":"id","type":"number","required":true}],"formValue":{"id":""},"payload":"","submit":"Deletar","cancel":"Cancelar","topic":"","x":240,"y":380,"wires":[["27ea939a.8028fc"]]},{"id":"ec145c54.539fc","type":"exec","z":"ee8e9743.5f8a28","command":"sudo python3.7 deletar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Método Deletar","x":700,"y":380,"wires":[["6290f283.b0168c","af187b4b.609618"],["89ae1d6e.836d3"],[]]},{"id":"6290f283.b0168c","type":"debug","z":"ee8e9743.5f8a28","name":"Saída","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":340,"wires":[]},{"id":"89ae1d6e.836d3","type":"debug","z":"ee8e9743.5f8a28","name":"Erro","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":400,"wires":[]},{"id":"27ea939a.8028fc","type":"function","z":"ee8e9743.5f8a28","name":"Formata ID","func":"msg.payload = parseInt(msg.payload.id);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["ec145c54.539fc"]]},{"id":"ed5d1072.69f9b","type":"ui_template","z":"ee8e9743.5f8a28","group":"ac957917.380348","name":"Cadastrados - Deletar","order":1,"width":"18","height":"5","format":"<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n\n<table id=\"table\" border=\"0\">\n    <tr>\n        <th>Id</th>\n        <th>Horário</th>\n        <th>Tempo Ligado (m)</th>\n        <th>Led a Ligar</th>\n    </tr>\n        <tr ng-repeat=\"horario in msg.payload\">\n            <td>{{ horario.id }}</td>\n            <td>{{ horario.horario }}</td>\n            <td>{{ horario.tempoLigado }}</td>\n            <td>{{ horario.led }}</td>\n           \n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1040,"y":500,"wires":[[]]},{"id":"f6f88206.fd5b9","type":"ui_template","z":"ee8e9743.5f8a28","group":"dd27a1eb.91411","name":"Cadastrados - Cadastrar","order":1,"width":"16","height":"5","format":"<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 90%;\n  max-width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n\n<table id=\"table\" border=\"0\">\n    <tr>\n        <th>Horário</th>\n        <th>Tempo Ligado (m)</th>\n        <th>Led a Ligar</th>\n    </tr>\n        <tr ng-repeat=\"horario in msg.payload\">\n            <td>{{ horario.horario }}</td>\n            <td>{{ horario.tempoLigado }}</td>\n            <td>{{ horario.led }}</td>\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1050,"y":460,"wires":[[]]},{"id":"244f6eac.ad9792","type":"comment","z":"ee8e9743.5f8a28","name":"Deletar um horário","info":"","x":230,"y":340,"wires":[]},{"id":"4da74a64.0a0fa4","type":"ui_template","z":"ee8e9743.5f8a28","group":"2d647432.06c68c","name":"Cadastrados - Atualizar","order":1,"width":"18","height":"5","format":"<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n\n<table id=\"table\" border=\"0\">\n    <tr>\n        <th>Id</th>\n        <th>Horário</th>\n        <th>Tempo Ligado (m)</th>\n        <th>Led a Ligar</th>\n    </tr>\n        <tr ng-repeat=\"horario in msg.payload\">\n            <td>{{ horario.id }}</td>\n            <td>{{ horario.horario }}</td>\n            <td>{{ horario.tempoLigado }}</td>\n            <td>{{ horario.led }}</td>\n           \n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1050,"y":540,"wires":[[]]},{"id":"34704f6d.c04f4","type":"ui_form","z":"ee8e9743.5f8a28","name":"","label":"Form - Atualizar Horário","group":"6acf8a28.c002e4","order":1,"width":"8","height":"5","options":[{"label":"ID do horário","value":"id","type":"number","required":true},{"label":"Novo Horário","value":"horario","type":"text","required":true},{"label":" Novo tempo (m)","value":"tempoLigado","type":"text","required":true},{"label":"Led a Ligar","value":"led","type":"number","required":true}],"formValue":{"id":"","horario":"","tempoLigado":"","led":""},"payload":"","submit":"Atualizar","cancel":"Cancelar","topic":"","x":340,"y":660,"wires":[["34a051dd.8cb4ee"]],"icon":"font-awesome/fa-clock-o"},{"id":"34a051dd.8cb4ee","type":"function","z":"ee8e9743.5f8a28","name":"Formata horário","func":"dados = []\nvar form = msg.payload\ndados.push(form.id)\ndados.push(form.horario)\ndados.push(form.tempoLigado)\ndados.push(form.led)\n\nmsg.payload = dados\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":660,"wires":[["aa0210e0.7be8d"]]},{"id":"aa0210e0.7be8d","type":"exec","z":"ee8e9743.5f8a28","command":"sudo python3.7 atualizar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Método Atualizar","x":810,"y":660,"wires":[["867db134.ba5d5","af187b4b.609618"],["e3e1e9a7.a323f8"],[]]},{"id":"867db134.ba5d5","type":"debug","z":"ee8e9743.5f8a28","name":"Saída","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":620,"wires":[]},{"id":"e3e1e9a7.a323f8","type":"debug","z":"ee8e9743.5f8a28","name":"Erro","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":680,"wires":[]},{"id":"d7607bd7.6d8128","type":"comment","z":"ee8e9743.5f8a28","name":"Atualiza um horário","info":"","x":330,"y":620,"wires":[]},{"id":"d6c42a12.ee9788","type":"comment","z":"ee8e9743.5f8a28","name":"Busca os horários cadastrados","info":"","x":390,"y":480,"wires":[]},{"id":"70215e75.91fdb","type":"inject","z":"ee8e9743.5f8a28","name":"Injetor","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":520,"wires":[["af187b4b.609618"]]},{"id":"8e1ea561.e98668","type":"comment","z":"ee8e9743.5f8a28","name":"Pega horários na inicialização","info":"","x":120,"y":480,"wires":[]},{"id":"e5802fd5.579e7","type":"ui_template","z":"ee8e9743.5f8a28","group":"2e8fc558.779fda","name":"Cadastrados - Atualizar","order":1,"width":"18","height":"5","format":"<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n\n<table id=\"table\" border=\"0\">\n    <tr>\n        <th>Id</th>\n        <th>Horário</th>\n        <th>Tempo Ligado (m)</th>\n        <th>Led a Ligar</th>\n    </tr>\n        <tr ng-repeat=\"horario in msg.payload\">\n            <td>{{ horario.id }}</td>\n            <td>{{ horario.horario }}</td>\n            <td>{{ horario.tempoLigado }}</td>\n            <td>{{ horario.led }}</td>\n           \n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1050,"y":580,"wires":[[]]},{"id":"ab58235f.a1359","type":"debug","z":"ee8e9743.5f8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":240,"wires":[]},{"id":"f361901b.34b51","type":"ui_group","z":"","name":"Cadastrar","tab":"848008e.0eb0bf8","order":1,"disp":true,"width":"8","collapse":false},{"id":"c3640149.c7ad","type":"ui_group","z":"","name":"Deletar","tab":"6869ab.0ec09654","order":2,"disp":true,"width":"8","collapse":false},{"id":"ac957917.380348","type":"ui_group","z":"","name":"Horarios Cadastrados","tab":"6869ab.0ec09654","order":2,"disp":true,"width":"18","collapse":false},{"id":"dd27a1eb.91411","type":"ui_group","z":"","name":"Horarios Cadastrados","tab":"848008e.0eb0bf8","order":2,"disp":true,"width":"18","collapse":false},{"id":"2d647432.06c68c","type":"ui_group","z":"","name":"Horários Cadastrados","tab":"62ca1d4a.6af444","order":2,"disp":true,"width":"18","collapse":false},{"id":"6acf8a28.c002e4","type":"ui_group","z":"","name":"Atualizar","tab":"62ca1d4a.6af444","order":1,"disp":true,"width":"8","collapse":false},{"id":"2e8fc558.779fda","type":"ui_group","z":"","name":"Horários Cadastrados no sistema","tab":"58ef215f.2cfb1","order":1,"disp":true,"width":"18","collapse":false},{"id":"848008e.0eb0bf8","type":"ui_tab","z":"","name":"Cadastrar um novo horário","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6869ab.0ec09654","type":"ui_tab","z":"","name":"Deletar horário","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"62ca1d4a.6af444","type":"ui_tab","z":"","name":"Atualizar Horário","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"58ef215f.2cfb1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]