Parte - 1/temp + led.json
[{"id":"dce71b1b.e41028","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"11d0a639.64651a","type":"ui_gauge","z":"dce71b1b.e41028","name":"Dashboard","group":"b1a80e53.71bf9","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"Dregree C","format":"{{value}}","min":"30","max":"80","colors":["#00b300","#e6e600","#ca3838"],"seg1":"55","seg2":"65","x":930,"y":120,"wires":[]},{"id":"596643f6.81131c","type":"ui_switch","z":"dce71b1b.e41028","name":"switch","label":"LED","tooltip":"","group":"b1a80e53.71bf9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":260,"wires":[["767e50b9.a337c"]]},{"id":"767e50b9.a337c","type":"rpi-gpio out","z":"dce71b1b.e41028","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":600,"y":240,"wires":[]},{"id":"4d87de8e.334ca","type":"inject","z":"dce71b1b.e41028","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":120,"wires":[["c70e8198.d8147"]]},{"id":"c70e8198.d8147","type":"exec","z":"dce71b1b.e41028","command":"/opt/vc/bin/vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":120,"wires":[["c0edb70.4d55348"],[],[]]},{"id":"cb3b2288.51907","type":"comment","z":"dce71b1b.e41028","name":"Temperatura","info":"","x":70,"y":120,"wires":[]},{"id":"c0edb70.4d55348","type":"function","z":"dce71b1b.e41028","name":"","func":"const value = msg.payload.match(/(\\d+|\\d+\\.\\d+)'/)[1];\nmsg.value = value;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[["11d0a639.64651a"]]},{"id":"b1a80e53.71bf9","type":"ui_group","z":"","name":"MyDashboard","tab":"782383aa.e2118c","disp":true,"width":"6","collapse":false},{"id":"782383aa.e2118c","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]